hr{
    margin:0;
}
.user{
    /*將ICON設置在最右邊*/
    display: flex;
    justify-content: flex-end;
    height:25px;
}
.user-icon{
    width:20px;
    height:20px;
    cursor: pointer;/*設置滑鼠點擊icon*/
}
.search{
    display:flex;
    align-items: top;
    justify-content: start;
    height: 130px;
    width: 100%;
}
.logo{
    width: 40%;
}
.index_title{
    text-decoration: none;
    color: #FF781C;
    font: 26px "Noto Sans TC";
    font-weight: 700;
    cursor: pointer;/*設置滑鼠點擊icon*/
}
.search_bar{
    display:flex;
    align-items: center;
    width:30%;
}
.search_text{
    border-radius: 8px 0px 0px 8px;
    background-color: #D9D9D9;
    font: 16px "Noto Sans TC";
    height: 35px;
    width: 90px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.search_select{
    display: flex;
    align-items: center;
}

.search-bar{
    height: 35px;
    width: 230px;
    font-size: 12px;
    background-color: #EDEAEA;
    border: none;
    padding: 0px;
    text-align: center;
}
.search_btn{
    border-radius: 0px 8px 8px 0px;
    background-color: orange;
    font: 16px "Noto Sans TC";
    color:white;
    height: 35px;
    width: 70px;
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.checkboxes{
    margin-left: 20px;
    font-size: 12px;
    display: flex;
    flex-direction: column; /*可以讓裡面的元素垂直排列*/
    align-items: start;
    justify-content: center;
}

.checkboxes input[type="checkbox"] {
    margin-right: 4px;
}

.checkboxes label {
    display: flex;
    align-items: center;  /*垂直置中*/
    height: 30px;
}

.functionlist{
    display:flex;
    align-items: start;
    justify-content: center;
    height:50px;
}
.functionlist div{
    margin: 10px;
    cursor: pointer;
}

.footer{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height:200px;
    font: 16px "Noto Sans TC";
    color:white;
}
.footer div{
    margin:100px;
}

/*ACCOUNT相關*/

.signup_block{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    top:80px;
    display: none;

     /* 先把註冊表單隱藏起來 */
}

.login_block{
    width:100%;
    display:flex;
    justify-content: center;
    position:absolute;
    top:80px;
     /* 先把登入表單隱藏起來 */
    display: none;
}

.deco_bar{
    display:none;
    width:340px;
    height: 10px;
    background-color: #FFA500;
}
.signup{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    height: 500px;
    position:absolute;
    background-color: white;
    z-index:350;
    border: 1px solid #FFA500;
}
.login{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:340px;
    height: 275px;
    position:absolute;
    background-color: white;
    z-index:350;
    border: 1px solid #FFA500;
}
.signup_text{
    text-align: center;
    width:310px;
    height: 27px;
    margin-top: 7px;
    font: 24px "Noto Sans TC";
    color: #666666;
    font-weight: 700;
}
.login_text{
    text-align: center;
    width:310px;
    height: 27px;
    margin-top: 7px;
    font: 24px "Noto Sans TC";
    color: #666666;
    font-weight: 700;
}
.close_button{
    position:absolute;
    width:30px;
    height: 30px;
    left:300px;
    top:10px;
}
.register_input{
    width:310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    margin-top:10px;
}
.login_input{
    width:310px;
    height: 47px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    margin-top:10px;
}
.register_input::placeholder{
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color:#757575;
    top:15px;
    left:15px;
}
.submit_btn{
    width:310px;
    height: 47px;
    margin-top:10px;
    font: 19px "Noto Sans TC";
    border-radius: 5px;
    border: none;
    background-color: #FFA500;
    color:white;
    text-align: center;
}
.login_link{
    width:310px;
    height:22px;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;
}
.signup_link{
    width:310px;
    height:22px;
    text-align: center;
    margin-top:10px;
    margin-bottom:20px;
    font: 16px "Noto Sans TC";
    font-weight: 500;
    color: #666666;
}
.about{
    cursor: pointer;
}
.faq{
    cursor: pointer;
}
.contact{
    cursor: pointer;
}
.introduction{
    cursor: pointer;
}   