<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINDCONNECTOR</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}"/>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="header">
        </div>
        <div class="footer">
        </div>
        <div class="account">
        </div>
        <script src="{{url_for('static', filename='common.js') }}"></script>
    </body>
    </html>
