<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINDCONNECTOR</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='brand.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}"/>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="header">
        </div>
        <div class="brandlist">所有品牌列表(TODO)</div>
        <div class="brandjump">ABCDEFGHIJKLMNOPQRSTUVWXYZ</div>
        <div class="alphabet">A</div>
        <div class="brandarea">
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
        </div>
        <div class="alphabet">B</div>
        <div class="brandarea">
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
        </div>        <div class="alphabet">C</div>
        <div class="brandarea">
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
        </div>        <div class="alphabet">D</div>
        <div class="brandarea">
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
            <div>APPLE</div>
            <div>ADDIDAS</div>
            <div>ASUS</div>
            <div>ASICS</div>
            <div>AMAZON</div>
        </div>        <div class="footer">
        </div>
        <div class="account">
        </div>
        <script src="{{url_for('static', filename='common.js') }}"></script>
    </body>
    </html>