<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>FINDCONNECTOR</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='introduction.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='common.css') }}"/>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="header">
        </div>
        <div class="introduction_title">網站介紹</div>
        <div class="introduction_container">
            <div>1. 註冊/登入功能(使用JWT技巧)</div>
            <div>2. 搜尋/新增/編輯/刪除產品(實現CRUD)</div>
            <div>3. 前端向後端獲取資料(AJAX技巧)</div>
            <div>4. BOM 服務</div>
            <div>5. 網站架設在AWS EC2上</div>
            <div>6. 使用git版本控制</div>
            <div>7. 圖片使用AWS S3儲存</div>
            <div>8. 資料庫使用AWS RDS</div>
            <div>9. 後端使用PYTHON FLASK</div>
            <div>10. 前端使用HTML/JAVASCRIPT/CSS</div>
            <div>11. 串接第三方API(電子零件商城取得產品資料)</div>
            <div>12. 使用NGINX反向代理(todo)</div>
            <div>13. 使用DOCKER部署(todo)</div>
            <div>14. 使用LOADBALANCE技巧(todo)</div>
            <div>15. 網站持續優化中</div>
        </div>
        <div class="footer">
        </div>
        <div class="account">
        </div>
        <script src="{{url_for('static', filename='common.js') }}"></script>
    </body>
    </html>
